body {
/*     background-color: #000; */
    color: #0f0; 
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#terminal {
    width: 80%;
    height: 80%;
    background-color: #000;
    border: 1px solid #0f0;
    overflow-y: auto;
    padding: 10px;
}

#commandInput {
    width: 80%;
    background-color: #000;
    color: #0f0;
    border: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

/* Mystic Night */
.bg-mystic-night {
  background: linear-gradient(to right, #1e3c72, #2a5298);
}

/* Dark Knight */
.bg-dark-knight {
  background: linear-gradient(to right, #2c3e50, #4ca1af);
}
