@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000;
  color: #0f0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

#root {
  height: 100%;
  width: 100%;
}
